@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

#js-licensing {
    display: none;
}

@media (min-width: 768px) {
    .text-limit {
        display: block;
    }
}

.text-limit {
    display: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.box-shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-shadow-custom:hover {
    box-shadow: none;
    transform: translateY(3px);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*li{*/
/*    box-shadow:*/
/*            18px 18px 11px 0px rgb(0 0 0 / 7%),*/
/*            30px 30px 17px 0px rgb(0 0 0 / 6%),*/
/*            40px 40px 22px 0px rgb(0 0 0 / 5%),*/
/*            51px 50px 32px 0px rgb(0 0 0 / 4%),*/
/*            64px 63px 49px 0px rgb(0 0 0 / 3%),*/
/*            82px 81px 80px 0px rgb(0 0 0 / 2%)*/

/*}*/
